#contact-div {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  margin: 5rem auto;
  padding: 1rem;
}

h3 {
  margin: 0px;
  padding: 0px;
  line-height: 5px;
}

h5 {
  font-style: italic;
}

.contact-input {
  margin: 10px 5px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #ebe7ef;
}

.submit {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-color: #ebe7ef;
  border-width: 1px;
  background-color: #467750;
  color: #ebe7ef;
}

.submit:hover {
  background-color: #ebe7ef;
  color: #467750;
  border-color: #467750;
}

.contact-success {
  color: #ebe7ef;
}

.contact-error {
  color: lightcoral;
}

@media (min-width: 600px) {
  .contact-form {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .contact-form {
    max-width: 100%;
  }
}
