section {
  margin: 5rem auto;
}

section h2 {
  text-align: left;
}
@media (min-width: 1001px) {
  section {
    max-width: 50%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  section {
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  section {
    max-width: 90%;
  }
}